* {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: #fff
}

body {
  margin: 0 auto;
  width: 75%;
}

header {
  width: 100%;
  background-color: rgb(108,203,153);
  margin: 1% 0 0 0;
  padding: 0.5% 0;
  h2 {
    margin: 0;
    padding-left: 2%;
    display: inline-block;
  }
  ul {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    width: 50%;
  }
  li {
    color: rgb(250,74,53);
    display: inline-block;
    padding: 0 1%;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.container {
  width: 100%;
  padding-top: 1%;
  background-color: rgb(238,238,238);
  ul {
    margin: 0;
  }
  li {
    margin: 1%;
    list-style: none;
  }
  .story-title a {
    color: rgb(108,203,153);
    font-size: 1.3em;
    text-decoration: none;
  }
  .story-info span{
    color: #000;
    margin-left: 2%;
  }
  .story-index {
    color: rgb(250,74,53);
  }
}
