* {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: #fff; }

body {
  margin: 0 auto;
  width: 75%; }

header {
  width: 100%;
  background-color: #6ccb99;
  margin: 1% 0 0 0;
  padding: 0.5% 0; }
  header h2 {
    margin: 0;
    padding-left: 2%;
    display: inline-block; }
  header ul {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    width: 50%; }
  header li {
    color: #fa4a35;
    display: inline-block;
    padding: 0 1%; }
    header li:hover {
      text-decoration: underline;
      cursor: pointer; }

.container {
  width: 100%;
  padding-top: 1%;
  background-color: #eeeeee; }
  .container ul {
    margin: 0; }
  .container li {
    margin: 1%;
    list-style: none; }
  .container .story-title a {
    color: #6ccb99;
    font-size: 1.3em;
    text-decoration: none; }
  .container .story-info span {
    color: #000;
    margin-left: 2%; }
  .container .story-index {
    color: #fa4a35; }
